body{
margin:0px;
padding:0px;
box-sizing:border-box;
background-color:black;
font-family:san-serif;
outline:none;
background-position:center;
}
.container{
height:float;
display:flex;
justify-content:center;
align-content:center;
}
.calculator{
background-image:url('background.jpg');
background-size:10px;
background-size:cover;
padding:15px;
border-radius:30px;
box-shadow: inset 5px 5px 12px #f2f2, 5px 5px 12px rgba(0,0,0,16);
grid-template-column:repeat(4,68px);
}
input{
width:100%;
grid-column:span4;
height:70px;
widows:260px;
background-color:green;
box-shadow: inset 5px 5px 12px #f2f2, 5px 5px 12px rgba(0,0,0,16);
border:none;
color:red;
font-size:2em;
}
input .output-onscreen{
border-radius:30px;
align-items:center;
align-content:center;
width:100%;

}
button{
border-radius:30px;
width:55px;
height:50px;
margin:15px;
}
#equal{
width:200px;
}



